.promo {
    width: 100%;
    padding: 74px 0 114px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #073042;
    background-image: url("../../images/promo-logo.svg");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

.promo__header {
    margin: 0;
    max-width: 730px;
    font-size: 50px;
    line-height: 58px;
    font-weight: 400;
    letter-spacing: -0.04em;
}

@media screen and (max-width: 768px) {
    .promo {
        padding: 236px 0 252px;
    }
}


