.App {
    min-width: 320px;
    min-height: 100vh;
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
    color: #FFFFFF;
    text-align: center;
    background: #000;
}

.section-header {
    width: 100%;
    margin: 0;
    padding-bottom: 23px;
    text-align: left;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: -0.04em;
    border-bottom: 1px solid #DADADA;
}

.section__container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 111px 70px;
    box-sizing: border-box;
    display: grid;
}

.section__container_type_navtab {
    padding: 24px 0;
}

.section__container_type_student {
    padding-bottom: 70px;
}

.section__container_type_techs {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section__container_type_portfolio {
    width: 100%;
    padding: 0 70px 105px;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.button {
    transition: opacity 0.3s ease-in;
}

.button:hover {
    opacity: 0.8;
}

.link {
    transition: opacity 0.3s ease-in;
}

.link:hover {
    opacity: 0.7;
}

@media screen and (max-width: 768px) {
    .section__container {
        padding: 91px 50px 90px;
    }

    .section__container_type_navtab {
        padding: 24px 0;
    }

    .section__container_type_student {
        padding-bottom: 60px;
    }

    .section__container_type_portfolio {
        padding: 0 50px 90px;
    }
}

@media screen and (max-width: 320px) {
    .section__container {
        padding: 71px 18px 70px;
    }

    .section__container_type_navtab {
        padding: 24px 0;
    }

    .section__container_type_student {
        padding: 68px 14px 70px;
    }

    .section__container_type_portfolio {
        padding: 0 14px 70px;
    }

    .section-header {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 28px;
    }
}
