.search {
    background-color: #202020;
}

.search__wrap {
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #222;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.08);
    border-radius: 9px;
}

.search__form {
    max-width: 100%;
    padding: 3px 19px 3px 0;
    box-sizing: border-box;
    grid-column: 1 / 5;
    display: flex;
    border-right: 1px solid #505050;
}

.search__field {
    width: 100%;
    padding: 0 0 0 10px;
    box-sizing: border-box;
    display: flex;
}

.search__icon {
    width: 34px;
    height: 34px;
    background-image: url("../../images/search-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.search__input {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    color: #fff;
    border: none;
    background-color: #222;
}

.search__input:focus {
    outline: none;
}

.search__input::placeholder {
    color: #C4C4C4;
}

.search__enter {
    margin: 0 0 0 46px;
    padding: 0;
    min-width: 34px;
    height: 34px;
    background-image: url("../../images/enter-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #202020;
    border: none;
    cursor: pointer;
}

.search__filter {
    padding: 3px 11px 3px 29px;
    grid-column: 5 / 6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search__hub {
    width: 36px;
    height: 20px;
    padding: 0 2px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #3DDC84;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: justify-content 0.5s ease-in-out;
}

.search__hub_off {
    justify-content: flex-start;
    background-color: #EBEBEB;
}

.search__switch {
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    border-radius: 16px;
    border: none;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.search__switch_off {
    background-color: #F5F5F5;
}

.search__caption {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}
