.search {
    background-color: #202020;
}

.search__bar {
    padding: 19px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #222;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
    border-radius: 9px;
}

.search__wrap {
    grid-column: 1 / 4;
}

/*.search__icon*/

/*.search__input*/

.search__enter {
    grid-column: 4 / 5;
}

.search__filter {
    grid-column: 5 / 6;
}
