.header {
    background-color: #073042;
}

.header__container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 18px 70px;
}

.header__logo {
    height: 38px;
    width: 38px;

}

.header__links {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(72px, max-content));
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.header__link {
    display: block;
    width: 100%;
    margin: 0;
    padding: 8px 20px;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}

.header__link_sign_in {
    background-color: #3DDC84;
    color: #000;
}

@media screen and (max-width: 768px) {
    .header__container {
        padding: 18px 30px;
    }
}

@media screen and (max-width: 320px) {
    .header__container {
        padding: 18px 14px;
    }

    .header__link {
        padding: 5px 12px;
        font-size: 10px;
        line-height: 16px;
    }
}
