.about {
    background-color: #202020;
}

.about__list {
    padding: 70px 0 110px;
    box-sizing: border-box;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.about__item {
    display: flex;
    flex-direction: column;
}

.about__subheader {
    width: 100%;
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -0.04em;
}

.about__description {
    width: 100%;
    margin: 26px 0 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
}

.about__progress-bar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: column;
}

.about__phase {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, auto);
}

.about__phase_order_first {
    grid-column: 1 / 2;
}

.about__phase_order_second {
    grid-column: 2 / 6;
}

.about__duration {
    margin: 0;
    padding: 9px 0;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}

.about__duration_order_first {
    background-color: #3DDC84;
    color:#000;
}

.about__duration_order_second {
    background-color: #303030;
    color:#fff;
}

.about__title {
    margin: 0;
    padding: 14px 0 0;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #8B8B8B;
}

@media screen and (max-width: 768px) {
    .about__list {
        padding: 70px 0 94px;
        gap: 30px;
    }

    .about__description {
        margin: 22px 0 0;
        font-size: 12px;
        line-height: 18px;
    }
}

@media screen and (max-width: 375px) {
    .about__list {
        padding: 60px 0;
        gap: 56px;
        grid-template-columns: auto;
    }

    .about__subheader {
        font-size: 18px;
        line-height: 22px;
    }

    .about__description {
        margin: 16px 0 0;
        font-size: 11px;
        line-height: 16px;
    }

    .about__progress-bar {
        grid-template-columns: repeat(3, 1fr);
    }

    .about__phase_order_first {
        grid-column: 1 / 2;
    }

    .about__phase_order_second {
        grid-column: 2 / 4;
    }

    .about__duration {
        padding: 11px 0;
        font-size: 11px;
        line-height: 13px;
    }

    .about__title {
        padding: 10px 0 0;
        font-size: 11px;
        line-height: 13px;
        font-weight: 400;
    }
}
