.footer {
    background-color: #202020;
}

.footer__container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 79px 70px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.footer__title {
    width: 100%;
    margin: 0;
    padding: 0 0 20px;
    border-bottom: 1px solid #424242;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    text-align: center;
    color: #8B8B8B;
}

.footer__wrap {
    width: 100%;
    margin: 0;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.footer__copyright {
    min-width: 50px;
    display: block;
    margin: 0;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
}

.footer__links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45px, max-content));
    column-gap: 20px;
    justify-content: flex-end;
}

.footer__link {
    display: block;
    margin: 0;
    width: max-content;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .footer__container {
        padding: 57px 30px 0;
    }
}

@media screen and (max-width: 425px) {
    .footer__container {
        padding: 59px 10px 0;
    }

    .footer__wrap {
        padding-top: 30px;
        flex-direction: column-reverse;
    }

    .footer__links {
        display: grid;
        grid-template-columns: auto;
        grid-auto-rows: auto;
        gap: 12px;
        align-items: center;
        justify-content: center;
    }

    .footer__link {
        margin: 0 auto;
        font-size: 12px;
        line-height: 15px;
    }

    .footer__copyright {
        margin: 30px 0 0;
        font-size: 12px;
        line-height: 15px;
        color: #8B8B8B;
    }

    .footer__title {
        font-size: 12px;
        line-height: 15px;
    }
}
