.techs {
    background-color: #272727;
}

.techs__wrap {
    width: 100%;
    margin: 0;
    padding: 90px 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.techs__title {
    margin: 0;
    font-size: 50px;
    line-height: 58px;
    font-weight: 400;
}

.techs__description {
    max-width: 460px;
    margin: 26px 0 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.techs__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(84px, max-content));
    gap: 10px;
    justify-content: center;
}

.techs__item {
    max-width: 90px;
    padding: 21px 0 22px;
    background-color: #303030;
    border-radius: 10px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .techs__wrap {
        padding: 80px 0 83px;
    }

    .techs__description {
        margin: 22px 0 0;
        font-size: 12px;
        line-height: 18px;
    }
}