@import url(./vendor/normalize.css);
@import url(./vendor/fonts/inter.css);

.App {
    min-width: 320px;
    min-height: 100vh;
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
    color: #FFFFFF;
    text-align: center;
    background: #000;
}

.header {
    width: 100%;
    background-color: #073042;
}

.header__container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 18px 70px;
}

.header__logo {
    height: 38px;
    width: 38px;

}

.header__links {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(72px, max-content));
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.header__item {
    width: 100%;
    margin: 0;
}

.header__link {
    display: block;
    width: 100%;
    margin: 0;
    padding: 8px 20px;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}

/*.header__link_sign_up*/

.header__link_sign_in {
    background-color: #3DDC84;
    color: #000;
}

.promo {
    width: 100%;
    min-height: 524px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #073042;
    background-image: url("./images/promo-logo.svg");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

.promo__header {
    margin: 0;
    max-width: 730px;
    font-size: 50px;
    line-height: 58px;
    font-weight: 400;
}

.navtab {
    width: 100%;
    background-color: #272727;
}

.navtab__container {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
}

.navtab__list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(53px, max-content));
    column-gap: 40px;
    justify-content: center;
    list-style: none;
}

.navtab__item {
    width: 100%;
    margin: 0;
    padding: 24px 0;
}

.navtab__link {
    display: block;
    width: max-content;
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    text-decoration: underline;
    color: #fff;
}

.about {
    width: 100%;
    background-color: #000;
}

.section__container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 110px 70px;
    box-sizing: border-box;
    display: grid;
}

.section-header {
    width: 100%;
    margin: 0;
    padding-bottom: 23px;
    text-align: left;
    font-size: 22px;
    line-height: 27px;
    font-weight: 400;
    border-bottom: 1px solid #DADADA;
}

.about__list {
    width: 100%;
    margin: 0;
    padding: 70px 0 110px;
    box-sizing: border-box;
    list-style: none;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.about__item {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.about__subheader {
    width: 100%;
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
}

.about__description {
    width: 100%;
    margin: 26px 0 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
}

.about__progress-bar {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: column;
}

.about__phase {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, auto);
}

.about__phase_order_first {
    grid-column: 1 / 2;
}

.about__phase_order_second {
    grid-column: 2 / 6;
}

.about__duration {
    margin: 0;
    padding: 9px 0;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}

.about__duration_order_first {
    background-color: #3DDC84;
    color:#000;
}

.about__duration_order_second {
    background-color: #303030;
    color:#fff;
}

.about__title {
    margin: 0;
    padding: 9px 0 0;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #8B8B8B;
}

.techs {
    width: 100%;
    background-color: #272727;
}

.techs__wrap {
    width: 100%;
    margin: 0;
    padding: 90px 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.techs__title {
    margin: 0;
    font-size: 50px;
    line-height: 58px;
    font-weight: 400;
}

.techs__description {
    max-width: 460px;
    margin: 26px 0 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.techs__list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 90px));
    gap: 10px;
    justify-content: center;
    list-style: none;
}

.techs__item {
    width: 100%;
    margin: 0;
    padding: 21px 0 22px;
    background-color: #303030;
    border-radius: 10px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}

.student {
    width: 100%;
    background-color: #202020;
}

.student__wrap {
    width: 100%;
    margin: 0;
    padding: 66px 0 30px;
    display: grid;
    grid-template-columns: auto 270px;
}

.student__profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.student__photo {
    max-width: 100%;
    display: block;
    border-radius: 10px;
}

.student__name {
    margin: 0;
    font-size: 50px;
    line-height: 58px;
    font-weight: 400;
}

.student__capture {
    margin: 18px 0 0;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
}

.student__description {
    max-width: 600px;
    margin: 26px 0 100px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

.student__socials {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45px, max-content));
    column-gap: 20px;
    justify-content: flex-start;
    list-style: none;
}

.student__item {
    width: 100%;
    margin: 0;
}

.student__social {
    display: block;
    margin: 0;
    width: max-content;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}

.portfolio {
    width: 100%;
    background-color: #202020;
}

.section__container_type_portfolio {
    width: 100%;
    background-color: #202020;
    padding-bottom: 125px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.portfolio__subheader {
    margin: 0 0 50px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    color: #8B8B8B;
}

.portfolio__works {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    list-style: none;
}

.portfolio__item {
    width: 100%;
    margin: 0;
}

.portfolio__work {
    width: 100%;
    margin: 0;
    padding: 0 0 19px;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    line-height: 50px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #424242;
}

.footer {
    width: 100%;
    background-color: #202020;
}

.footer__container {    
    max-width: 1280px;
    margin: 0 auto;
    padding: 79px 70px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.footer__title {
    width: 100%;
    margin: 0;
    padding: 0 0 20px;
    border-bottom: 1px solid #424242;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    text-align: center;
    color: #8B8B8B;
}

.footer__wrap {
    width: 100%;
    margin: 0;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.footer__copyright {
    min-width: 50px;
    display: block;
    margin: 0;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
}

.footer__links {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45px, max-content));
    column-gap: 20px;
    justify-content: flex-end;
    list-style: none;
}

.footer__item {
    width: 100%;
    margin: 0;
}

.footer__link {    
    display: block;
    margin: 0;
    width: max-content;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
}